.row {
    
    margin: 0px;
    padding: 0px;
    font-family: $font-header;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.manager {
    padding: 20px;

    h3 {
        color: $white-color;
    }

    a {
        text-decoration: none;
        color: $white-color;
    }

    img {
        height: 25px;
        padding-right: 10px;
    }
}

.col {
    float: left;
}
.sidebar {
  width: fit-content;
  background-color: $black-color;
  height: 100vh;
  color: $red-color;
  
  
}
.content {
    
    border: 5px solid black;
    margin: 0;
    padding: 0;
}
.layout-pages {
    border: 5px solid orange;
}
/*General static*/

.general-statistic {
    border: 5px solid blue;
    h2{
        padding: 20px;
    }
}
.date {
    display: flex;
    justify-content: center;
    margin: 15px;
    p {
        padding: 10px 20px;
        margin: 0;
        border: 1px solid black;
    }
    a:last-of-type {
        padding: 10px;
        color: white;
        background-color: black;
    }
}
.statistic {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.chart {
    img {
        display: block;
        margin: 0 auto;
    }
}


.links {
    border: 5px solid blue;
}

.top-menu {
    border: 5px solid green;
    display: flex;
    justify-content: flex-end;
    
    i, span {
        padding: 10px;
    }
}

.name {
    border: 2px solid yellow;
}
.name ul {
    font-size: 20px;
    padding-left: 5px;
    list-style-type: none;
    color: $white-color;
    
}
.name li { 
    display: inline-block;
    padding-right: 0px;
    margin-right: 0px;
    position: relative;
}
.name i {
    padding-left: 15px;
    margin-right: 12px;
    
}

.menu ul {
    list-style-type: none;
}
.menu li{
    padding: 10px 0;

}
.menu a {
    color: $white-color;
    text-decoration: none;
    padding-left: 0px;
}
.menu i {
    padding-right: 10px;
    padding-left: 0px;
    margin-left: 0px;
    
}


