/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$black-color: #333333;
$orange-color: #F58220;
$orange-light-color: #FFA200;
$green-color: #04AE00;
$green-light-color: #74B67A;
$blue-color: #abdbe7;
$red-color: #FF0000;
$white-color: white;
$grey-color: #cec8c8;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$font-text: 'Open Sans', sans-serif;
$font-header: 'Roboto Condensed', sans-serif;