/*General static*/

.date {
    display: flex;
    justify-content: center;
    margin: 30px;
    p {
        padding: 10px 20px;
        margin: 0;
        border: 1px solid black;
    }
    .fas {
        padding: 14px;
        color: white;
        background-color: $orange-color;
        margin: 0 10px;
    }
    .fas:hover {
        background-color: $orange-light-color
    }

    .far {
        color: black;
        background-color: white;
        padding: 0 0 0 10px;
    }
    
}
.statistic {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.chart {
    
    img {
        display: block;
        margin: 0 auto;
        object-fit: cover;
        max-width: 100%;
    }
    .tableOne {
        max-width: 90%;
        margin: 0 auto;
        padding: 20px;
    }
}